<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917569150989-utbosof0rj75ao6agc3dvs0uije9rr42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917569150989-utbosof0rj75ao6agc3dvs0uije9rr42</string>
	<key>API_KEY</key>
	<string>AIzaSyB0THulcC4oVwU_lxzrcY7WcSoMJnbb83s</string>
	<key>GCM_SENDER_ID</key>
	<string>917569150989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pcode.tsmerchant</string>
	<key>PROJECT_ID</key>
	<string>tokyo-merchant-f66a0</string>
	<key>STORAGE_BUCKET</key>
	<string>tokyo-merchant-f66a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917569150989:ios:2016b25f37757bb5913544</string>
</dict>
</plist>